/* Main content layout */ 
@use'../../scss/base/variables';
.space{
    padding: 20px;
    margin: 50px;
}
.scroll-banner {
  width: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px 0;

  .scroll-text {
    display: flex;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
  }
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
