/* Bottoni */ 
@use'../../scss/base/variables';
.hero-right {
    .cta-button {
      margin:20px 20px;
      padding: 12px 24px;
      background-color: variables.$arancio-vivo;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      border-radius: 8px;
      transition: all 0.3s ease;

      &:hover {
        background-color: darken(variables.$arancio-vivo, 10%);
        transform: scale(1.05);
      }
    }
  }
.floating-cta {
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  z-index: 9999;
  align-items: center;
  justify-content: center;

  button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: variables.$arancio-vivo;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    min-width: 140px;
  }
  button:hover {
    background-color: darken(variables.$arancio-vivo, 10%);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }
  @media (max-width: 768px) {
    flex-direction: column;
    right: 10px;
    bottom: 10px;
    width: calc(100% - 20px); // limite larghezza contenitore

    button {
      width: 100%;
      min-width: unset;
    }
  }
}
.btn-git{
  background-color: variables.$arancio-vivo;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: variables.$oro-caldo 1px 1px 1px;
  a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
  }
  

}
